/* 1rem = 1em = 16px */

/* Below 1504px (narrow computers) */
@media (max-width: 94em) {
  .header-address-text {
    max-width: 26rem;
  }
}

/* Below 1344px (smaller computers) */
@media (max-width: 84em) {
  .header-logo-img {
    height: 10.5rem;
  }

  .header {
    height: 16.8rem;
    font-size: 2.4rem;
  }

  .header-nav {
    gap: 0.5rem;
  }

  .header-link--home {
    margin-right: 1rem;
  }

  .container {
    max-width: 110rem !important;
  }

  .header-address-text {
    font-size: 1.6rem;
    max-width: 27rem;
  }

  .heading-primary {
    font-size: 6.2rem;
  }

  .hero-text-box {
    row-gap: 0rem;
  }

  .hero-description {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .hero-cta-btn {
    font-size: 2.4rem;
    padding: 2rem 4rem !important;
  }
}

/* Below 1104px (Landscape Tablets) */
@media (max-width: 69em) {
  html {
    /*56.25% -> 1rem = 9px*/
    font-size: 56.25%;
  }
}
